*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-block: 200px;
    background: linear-gradient(to right, #74ebd5, #acb6e5 );
    font-family: Arial, sans-serif;
    box-shadow:0 0 50px lightblue;
}

.converter {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff; 
    box-shadow: 0 0 10px white(0, 0, 0, 0.1); 
}

.head{
    font-weight: bold;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 50px white;
}
.hot {
    font-size: 16px;
}

.covert {
    font-size: 14px;
}
